{% extends "MyfreelanceBundle::template.html.twig" %}

{% block title %} Accueil - {{ parent() }}{% endblock %}

{% block body %}
	<div class="box">
            <div class="box-body">
	<h1>{{project.name}}</h1>
	
	<a htef="#" class="btn btn-primary">Generer un ticket</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>etat</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {%for ticket in project.ticketList%}
                    <tr>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.state|state}}</td>
                        <td>
                            <div class="progress is-xs m-a-0 m-t-10">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ticket.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ticket.percentage}}%;">
                                    <span class="sr-only">{{ticket.percentage}}% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td><a href="{{path('myfreelance_customer_project_ticket',{'project':project.id,'ticket':ticket.id})}}">Voir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
{% endblock %}